
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--neutral-background);
}

:root {
  /* Background and general colors */
  --neutral-neutral-700: #161619; 
  --neutral-neutral-600: #1A1B21; 
  --neutral-background: #23252C; 
  --neutral-text: #FFFFFF; 
  --neutral-muted-text: #C0C0C0; 

  /* Button colors */
  --button-linkedin-bg: #5093E2; 
  --button-email-bg: #FFFFFF; 
  --button-text-dark: #000000; 
  --button-linkedin-hover-bg: #3a7bbf; 
  
  /* Other */
  --text-highlight: #F3BF99; 

    /* Tema Claro */
    --background-general-light: #FFFFFF;
    --background-card-light: #F0F0F0;
    --background-socials-light: #E8E8E8;
    --text-primary-light: #1A1B21;
    --text-secondary-light: #4F4F4F;
}

